<script lang="ts" setup>
import { computed, ref } from "vue";
import { mockTrains, Train } from "./assets/scheduledTrains";

const mockedTrains: Train[] = mockTrains;
const filterDate = ref("");

const listedTrains = computed(() => {
  if (!filterDate.value) {
    return mockedTrains;
  }

  const selectedDate = new Date(filterDate.value);

  return mockedTrains.filter((train) => {
    const departureDate = new Date(train.departureDate);

    return (
      departureDate.getDate() === selectedDate.getDate() &&
      departureDate.getMonth() === selectedDate.getMonth() &&
      departureDate.getFullYear() === selectedDate.getFullYear()
    );
  });
});

const formattedDate = (date: Date): string => {
  const options: Intl.DateTimeFormatOptions = {
    day: "2-digit",
    month: "long",
    year: "numeric",
    hour: "2-digit",
    minute: "2-digit",
  };

  return date.toLocaleDateString("fr-FR", options);
};
</script>

<template>
  <div class="filter-container">
    <input type="date" v-model="filterDate" class="filter-input" />
  </div>

  <ul>
    <li v-for="train in listedTrains" :key="train.numberId">
      <p>
        {{ formattedDate(train.departureDate) }} -
        {{ formattedDate(train.arrivalDate) }}
      </p>
      <p>{{ train.destination }}</p>
    </li>
  </ul>
</template>

<style scoped>
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}

.filter-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.filter-input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  background-color: #f2f2f2;
  font-size: 1rem;
  color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.filter-input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.filter-input::placeholder {
  color: #999;
}

.filter-input:hover {
  background-color: #eaeaea;
}

.filter-input::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

.filter-input::-webkit-datetime-edit-fields {
  background-color: #333;
  color: #f2f2f2;
}
</style>
